<!DOCTYPE html>
<html ng-app>
<head>
    <title>Angular Examples</title>
</head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<body>
<div ng-controller="controller">
    <div ng-model="anuj">
        <input type="text" placeholder="your name" ng-model="name">
        <input type="text" placeholder="your message" ng-model="message">
        <hr>
        <h1>hi {{name}} !</h1><h3>{{message}}</h3>
        <h4>{{expertLevel}}</h4>
    </div>
    <div ng-controller="controller2">
        <div ng-model="Narendra">
            <input type="text" placeholder="your name" ng-model="name">
            <input type="text" placeholder="your message" ng-model="message">
            <hr>
            <h1>hi {{name}} !</h1><h3>{{message}}</h3>
            <h4>{{expertLevel}}</h4>
        </div>
    </div>
</body>

<script>
    var controller = function($scope){
        $scope.name = "anuj";
        $scope.message="Hello"
        $scope.expertLevel = 2;
        $scope.$watch('message',function(){
            console.log($scope.message);
        });
    }

    var controller2 = function($scope){
        $scope.name = "Narendra Sisodiya";
        $scope.message="Hello";
        $scope.expertLevel = 2;
        $scope.$watch('name',function(){
            console.log($scope.name);
        });
    }
</script>

</html>