<!DOCTYPE html>
<html ng-app>
<head>
    <title>Angular Examples</title>
</head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<body>
<div ng-controller="listController">

    <div>I am  an array</div>
    <input type="search" ng-model="search">
    <li ng-repeat="name in names | filter:search">{{name}}</li>
    <input type="text" ng-model="newName">
    <input type="number" ng-model="newAge">
    <button ng-click="add()">Add Items</button>
</div>
<div ng-controller="listController2">
    <hr>
    <div>I am  an Object</div>
    <input type="search" ng-model="search">
    <li ng-repeat="name in names | filter:search">{{name.name}}&NonBreakingSpace;{{name.age}} <button ng-click="remove($index)">X</button>
        <span ng-show="$first">first</span>
        <span ng-show="$last">last</span>
        <span ng-show="$middle">middle</span>
    </li>

    <input type="text" ng-model="newName">
    <input type="number" ng-model="newAge">
    <h1>there are {{names.length}} items in the list</h1>
    <button ng-click="add()">Add Items</button>
</div>
</body>

<script>
    var listController = function($scope){
        $scope.names=["anuj" , "Krishank" , "Balram" , "Rahul"];

        $scope.add = function(){
            $scope.names.push(
             $scope.newName
            );
            $scope.newName="";

        }
    }

    var listController2 = function($scope){
        $scope.names=[
            {"name" : "Anuj" , "age" : 23},
            {"name" : "Krisank" , "age" : 23},
            {"name" : "Balram" , "age" : 25},
            {"name" : "Rahul" , "age" : 24},

        ];
        $scope.add = function(){
            $scope.names.push({
              name : $scope.newName,
              age :  $scope.newAge
            });
            $scope.newName="";
            $scope.newAge="";
        }
        $scope.remove = function(index){
        $scope.names.splice(index , 1);
        }
    }
</script>

</html>